/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    line-height: 1.6;
    background: url('https://images2.alphacoders.com/115/thumb-1920-1158504.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}

/* Cabeçalho */
header {
    padding: 1rem;
    text-align: center;
}

/* Título */
h1 {
    font-weight: bolder;
    font-size: 40px;
    color: rgb(255, 168, 6);
    text-align: center;
    margin: 40px auto;
    max-width: 90%;
}

/* Texto */
p {
    font-weight: bolder;
    font-size: 22px;
    color: rgb(255, 166, 0);
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
}

/* Botão */
.glow-on-hover {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00,
      #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.3);
}

footer h3 {
    color: yellow;
    opacity: 0.3;
}
